/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/*
[role="region"][aria-labelledby][tabindex]:focus {
    outline: .1em solid rgba(0,0,0,.1);
  }
  *:focus{
    outline: none;
    border: 3px dotted orange;
   }
